body, html {
  font-size: 12px;
  background: #222;
  line-height: 1.4em; }

.wrap {
  width: 1000px;
  margin: 0 auto; }

header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #333; }
  header #logo {
    float: left;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 30px; }
  header #nav {
    float: left; }
    header #nav li a {
      font-size: 14px;
      display: block;
      width: 80px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      color: #666; }
    header #nav li.select a {
      color: #fff; }
    header #nav li a:hover {
      color: #37b1e8; }
  header #user {
    float: right;
    color: #fff; }
    header #user a {
      font-size: 14px;
      display: inline-block;
      height: 80px;
      line-height: 80px;
      text-align: center; }
    header #user .login {
      float: right;
      position: relative; }
      header #user .login .drop {
        display: none;
        position: absolute;
        width: 150px;
        top: 60px;
        right: 0;
        background: white;
        border: 1px solid #eeeeee;
        box-shadow: 1px 1px 3px 0 #666;
        z-index: 9999; }
        header #user .login .drop a {
          width: 150px;
          height: 40px;
          line-height: 40px;
          text-align: left;
          text-indent: 2em;
          color: #333; }
        header #user .login .drop a:hover {
          background: #f2f2f2; }
      header #user .login .msg,
      header #user .login .avatar,
      header #user .login .down {
        float: left;
        display: inline-block;
        text-align: center;
        padding: 0 0 0 10px;
        font-size: 12px; }
      header #user .login .down {
        width: 30px; }
      header #user .login .msg span {
        color: #37b1e8; }
      header #user .login .avatar img {
        width: 25px;
        height: 25px; }

#main {
  width: 1000px;
  margin: 30px auto; }

#content {
  width: 700px;
  float: left; }
  #content .item {
    overflow: hidden;
    margin: 0 0 30px; }
    #content .item .avatar {
      float: left; }
      #content .item .avatar img {
        width: 50px;
        height: 50px; }
    #content .item .panel {
      padding: 20px;
      float: left;
      width: 580px;
      background: #fff;
      box-shadow: 0px 1px 2px #000; }
      #content .item .panel .meta {
        margin: 0 0 20px; }
      #content .item .panel a {
        font-size: 14px;
        color: #10729e; }
      #content .item .panel .time {
        color: #999; }
      #content .item .panel .text {
        font-size: 14px;
        margin: 0 0 10px;
        padding: 0 0 15px;
        border-bottom: 1px solid #f2f2f2; }
      #content .item .panel .music {
        margin: 0 0 10px; }
      #content .item .panel .cover {
        margin: 0 0 10px; }
        #content .item .panel .cover img {
          max-height: 200px; }
  #content .item_topic {
    margin: 0 0 30px; }
    #content .item_topic .cover {
      float: left; }
      #content .item_topic .cover img {
        width: 300px;
        height: 300px; }
    #content .item_topic a {
      color: #37b1e8; }
    #content .item_topic .panel {
      background: #fff;
      height: 300px;
      width: 670px; }
    #content .item_topic .wrap {
      float: left;
      padding: 20px;
      width: 300px; }
      #content .item_topic .wrap h2 {
        font-size: 14px;
        margin: 0 0 10px;
        color: #37b1e8; }
      #content .item_topic .wrap .time {
        color: #666; }
      #content .item_topic .wrap .text {
        font-size: 12px;
        height: 200px;
        border-bottom: 1px dotted #eaeaea;
        margin: 0 0 10px; }

#side {
  width: 300px;
  float: right; }
  #side .cell {
    width: 260px;
    padding: 20px;
    background: #ddd;
    border-bottom: 1px solid #ccc; }
    #side .cell a {
      color: #333; }
    #side .cell h3 {
      color: #307c9e;
      font-size: 14px;
      margin: 0 0 10px; }
    #side .cell p {
      margin: 0 0 10px; }
  #side .cell:hover {
    background: #fff; }
  #side .add {
    box-shadow: 0px 1px 2px #000; }
    #side .add a {
      font-size: 20px;
      line-height: 1em; }
  #side .countdown {
    background: #333;
    color: #999; }
    #side .countdown span {
      font-size: 18px;
      padding: 0 5px;
      color: #fff; }
  #side .countdown:hover {
    background: #333; }
  #side .topic .text {
    line-height: 1.5em; }
  #side .topic .cover {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 10px 0 0; }
  #side .topic .content a {
    color: #307c9e; }
  #side .noname .content a {
    color: #307c9e; }
  #side .desc {
    margin: 36px 0 0; }
  #side .card {
    width: 100%;
    padding: 0; }
    #side .card h2 {
      font-size: 18px;
      padding: 10px; }
    #side .card img {
      display: block;
      width: 100px;
      height: 100px;
      float: left;
      margin: 0 10px 0 0; }
    #side .card .mail {
      padding: 0 0 0 10px;
      color: #37b1e8; }

#add_post h2 {
  color: #fff;
  font-size: 20px;
  margin: 0 0 20px; }
#add_post .attach {
  width: 648px;
  background: #fff;
  padding: 10px;
  border: 1px solid #fff;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea; }
  #add_post .attach li {
    float: left;
    margin: 0 10px 0 0px; }
    #add_post .attach li a {
      color: #37b1e8; }
#add_post textarea {
  width: 648px;
  height: 300px;
  padding: 10px;
  font-size: 14px;
  color: #333;
  resize: none;
  border: 1px solid #fff;
  margin: 0 0 20px;
  background: #fff; }
#add_post input.submit {
  float: left;
  display: block;
  width: 150px;
  height: 30px;
  background: #37b1e8;
  color: #fff;
  border: none; }

#setting {
  background: #fff;
  width: 610px;
  padding: 30px; }
  #setting h3 {
    font-size: 18px;
    margin: 0 0 20px 70px; }
  #setting p {
    overflow: hidden;
    margin: 0 0 20px; }
  #setting label {
    width: 50px;
    text-align: right;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 20px 0 0; }
  #setting input {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 200px;
    background: #fff; }
  #setting input.confirm {
    border: none;
    width: 100px;
    background: #37b1e8;
    color: #fff; }

#start {
  text-align: center; }
  #start h2 {
    font-size: 20px;
    color: #fff;
    margin: 50px 0; }
  #start a {
    color: #37b1e8; }
  #start input {
    font-size: 14px;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 200px;
    background: #fff;
    margin: 0 0 10px; }
  #start input.confirm {
    border: none;
    width: 100px;
    background: #37b1e8;
    color: #fff; }
  #start .login {
    text-align: left;
    width: 370px;
    margin: 0 auto;
    background: #fff;
    padding: 50px;
    border-radius: 2px; }
    #start .login h3 {
      font-size: 14px;
      margin: 0 0 10px; }

footer {
  width: 100%;
  margin: 50px 0;
  text-align: center;
  color: #666; }
  footer a,
  footer span {
    padding: 0 5px; }
